<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd 
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:XE" />
		<property name="username" value="tristan" />
		<property name="password" value="654321" />
	</bean> 

<!-- http://blog.csdn.net/liyangbing315/article/details/4730961 -->
<!-- ab -n 1000 -c 20 http://localhost:8085/tristanSpringMVC03/user/search -->

<!-- <bean id = "dataSource" class = "org.apache.commons.dbcp.BasicDataSource" >
          <property name = "driverClassName" value = "oracle.jdbc.driver.OracleDriver" />
              <property name = "url" value = "jdbc:oracle:thin:@localhost:1521:XE" />
              <property name = "username" value = "tristan" />
              <property name = "password" value = "654321" />
              <property name = "maxActive" value = "100" />
              <property name = "maxIdle" value = "10" />
</bean> -->
			

<!--  	<bean id="dataSource"
		class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="oracle.jdbc.driver.OracleDriver" />
		<property name="jdbcUrl" value="jdbc:oracle:thin:@localhost:1521:XE" />
		<property name="user" value="tristan" />
		<property name="password" value="654321" />
        <property name="maxPoolSize" value="100" />
        <property name="minPoolSize" value="10" />
        <property name="initialPoolSize" value="10" />
	</bean>  -->

<!-- 	<bean id="dataSource" class="org.logicalcobwebs.proxool.ProxoolDataSource" >
	       <property name="driver" value="oracle.jdbc.driver.OracleDriver" />
	       <property name="driverUrl" value="jdbc:oracle:thin:@localhost:1521:XE" />       
	       <property name="user" value="tristan"/>
	       <property name="password" value="654321" />
	       <property name="prototypeCount" value="10" />
	       <property name="maximumConnectionCount" value="100" />
	       <property name="minimumConnectionCount" value="10" />
	</bean> -->


	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
<!-- 				<prop key="hibernate.show_sql">true</prop>
				<prop key="hiberante.format_sql">true</prop> -->
			</props>
		</property>
		
		<property name="configLocations">
			<list>
				<value>
					classpath:config/hibernate.cfg.xml
				</value>
			</list>
		</property>

	</bean>

    <context:component-scan base-package="com.tristan.web.service.hibernate" />
	<context:component-scan base-package="com.tristan.web.dao.hibernate" /> 
	
	
		
	<bean id="txManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="delete" propagation="REQUIRED" />
			<tx:method name="update" propagation="REQUIRED" />
			<tx:method name="*" read-only="true" />
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:pointcut expression="execution (* com.tristan.web.service.hibernate.*.*(..))"
			id="services" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="services" />
	</aop:config>

	

 	<bean id="performaceLog" class="com.tristan.web.utils.PerformaceLog"></bean>
	
	<bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="beanNames">
			<list>
				<value>userService</value>
				<value>userDAO</value>
			</list>
		</property>
		<property name="interceptorNames">
			<list>
				<idref bean="performaceLog"/>
			</list>
		</property>
		<property name="proxyTargetClass" value="true" />
	</bean>  

</beans>