<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>tristan-hbase-web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HBaseServlet</display-name>
    <servlet-name>HBaseServlet</servlet-name>
    <servlet-class>com.tristan.web.servlet.HBaseServlet</servlet-class>
  </servlet>
   <servlet>
    <description></description>
    <display-name>HiveServlet</display-name>
    <servlet-name>HiveServlet</servlet-name>
    <servlet-class>com.tristan.web.servlet.HiveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HBaseServlet</servlet-name>
    <url-pattern>/HBaseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HiveServlet</servlet-name>
    <url-pattern>/HiveServlet</url-pattern>
  </servlet-mapping>
</web-app>